{% extends 'layouts/default.html' %}{% load static %}
{% block title %}服务与支持-{% endblock title %}
{% block content %}
<nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand banyan-logo" href="/">
                <img src="/static/image/logo-m.jpg" alt="" width="40" height="40" />
                <span>榕树数据</span>
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="log-reg-block visible-md-block visible-lg-block">
                    {% if request.session.user_id %}
                    <li class="cd-log_reg">
                        <a class="cd-signin" href="/task/">控制台</a>
                    </li>
                    <li class="cd-log_reg">
                        <a class="cd-signup" href="/logout/">退出</a>
                    </li>
                    {% else %}
                    <li class="cd-log_reg">
                        <a class="cd-signin" href="/auth/">登录</a>
                    </li>
                    <li class="cd-log_reg">
                        <a class="cd-signup" href="/auth/?action=1/">注册</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/tasks/">领取任务</a>
                    </li>
                    <li>
                        <a href="/products/">产品服务</a>
                    </li>
                    <li>
                        <a href="/cooperation/">数据合作</a>
                    </li>
                    <li class="active">
                        <a href="/contacts/">服务与支持</a>
                    </li>
                    <li>
                        <a href="http://banyanbbt.org/cn_index.html" target="_blank">榕树官网</a>
                    </li>
                    {% if request.session.user_id %}
                    <li class="cd-log_reg visible-xs-block visible-sm-block">
                        <a class="cd-signin" href="/task/">控制台</a>
                    </li>
                    <li class="cd-log_reg visible-xs-block visible-sm-block">
                        <a class="cd-signup" href="/logout/">退出</a>
                    </li>
                    {% else %}
                    <li class="cd-log_reg visible-xs-block visible-sm-block">
                        <a class="cd-signin" href="/auth/">登录</a>
                    </li>
                    <li class="cd-log_reg visible-xs-block visible-sm-block">
                        <a class="cd-signup" href="/auth/?action=1/">注册</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<section id="about-wrapper" class="padding-top-80 main-section">
    <div id="about" class="">
        <div class="jumbotron">
        </div>
        <div class="about-us container">
            <h3 class="title-hr">关于我们</h3>
            <hr>
            <p class="intro"> 榕树数据是一站式的数据治理、数据服务平台。</p>
            <br>
            <p class="intro">
                   <span style="font-weight: 600;font-size: 18px;">数据治理：</span> 榕树网络根据社区通过的数据治理规范，发布数据治理数据治理任务，数据方可以将待处理的数据包发布到平台上，通过数据治理的形式发布任务，由社区参与治理。 榕树数据平台可根据特定领域、特定场景的客户需求，提供定制化的数据获取与加工方案的设计与执行服务， 为客户交付标准化结构化的可用数据，数据类型涵盖文本、图像、音频、视频、网页等。
            </p>
            <br>
            <p class="intro"> <span style="font-weight: 600;font-size: 18px;">数据服务：</span> 数据来源涵盖国内几十家主流数据源，支持连接所有常见关系型、非关系型或特异数据源，接口实时稳定可靠。 </p>
            <br>
            <p class="intro">致力于构建多方安全的数据融合服务生态，为汽车金融、境外旅游、金融征信、奢侈品牌等行业提供基于多源数据融合的数据系统、数据洞察、数据应用服务。 </p>
            <br>
        </div>
        <div class="content">
            <h3 class="title title-hr" aos="fade-up" aos-easing="ease" aos-delay="100">联系我们</h3>
            <hr>
            <div class="inner" aos="fade-up" aos-easing="ease" aos-delay="140">
                <form class="" id="feedback-form" method="POST" action="/feedback/">
                    {% csrf_token %}
                    <fieldset class="row">
                        <div class="item col-sm-6">
                            <input id="contact_name" class="form-control" name="contact_name" minlength="4" type="text" placeholder="姓名" required>
                        </div>
                        <div class="item col-sm-6">
                            <input id="contact_mobile" class="form-control" name="contact_mobile" minlength="6" type="text" placeholder="电话" required>
                        </div>
                        <div class="item col-sm-6">
                            <input id="contact_email" class="form-control" name="contact_email" type="text" placeholder="邮箱" minlength="6" required>
                        </div>
                        <div class="item col-sm-6">
                            <input id="company_name" class="form-control" name="company_name" minlength="2" type="text" placeholder="公司" required>
                        </div>
                        <div class="item col-sm-12">
                            <textarea id="feedback_content" name="feedback_content" class="form-control" rows="3" placeholder="需求描述" required></textarea>
                        </div>
                        <div class="col-sm-12 btn-div">
                            <input class="btn btn-primary" type="submit" value="提交需求">
                        </div>
                    </fieldset>
                </form>
            </div>
            <br>
        </div>
    </div>
</section>
{% endblock %} {% block bottom_javascript %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script>
    $().ready(function () {　　
        $("#feedback-form").validate({

            messages: {　　
                contact_name: {　　　　
                    required: "姓名是必填的哦",
                    minlength: "请告诉我们正确的姓名",
                    　　　　　　　　　　　　　　　　
                },
                　　contact_mobile: {　　　　
                    required: "电话是必填的哦",
                    minlength: "请告诉我们有效的手机号",
                    　　　　
                },
                contact_email: {　　　　
                    required: "邮箱是必填的哦",
                    minlength: "请告诉我们有效的邮箱",
                    　　　　
                },
                company_name: {　　　　
                    required: "公司名是必填的哦",
                    minlength: "请告诉我们有效的公司名",
                    　　　　　　　　
                },
                feedback_content: {　　　　
                    required: "需求是必填的哦",
                    minlength: "请告诉我们真实的需求",
                    　　　　
                },
            },
            submitHandler: function (form) {
                $.ajax({　　
                    url: "/feedback/",
                    type: "POST",
                    dataType: "json",
                    data: {
                        contact_name: $.trim($("#contact_name").val()),
                        contact_mobile: $.trim($("#contact_mobile").val()),
                        contact_email: $.trim($("#contact_email").val()),
                        company_name: $.trim($("#company_name").val()),
                        feedback_content: $.trim($("#feedback_content").val()),
                    },
                    success: function (msg) {
                        $("#contact_name").val('');
                        $("#contact_mobile").val('');
                        $("#contact_email").val('');
                        $("#company_name").val('');
                        $("#feedback_content").val('');
                        alert('需求反馈已收到，我们将尽快与你取得联系');
                        return false;
                    },
                    error: function (response) {
                        var error_message = (response.status == 403) ? response.responseText :
                            "程序处理异常，请稍后重试";
                        alert(error_message);
                        return false;
                    }
                });
            },
            invalidHandler: function (form, validator) {
                return false;
            }
        });
    });
</script>
{% endblock %}